---
layout: archive
title: "Research Portfolio"
permalink: /research/
author_profile: true
---

{% include base_path %}

{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

Designing Rational Neural Network Controllers - Github, Paper Link

One sentence

Rational neural networks when used as feedback controllers align better in the optimisation problem compared to traditional neural networks, allowing them to be easily and effectively designed.

Motivation

Neural networks have been shown to be effective as controllers in feedback systems.

Current approaches use existing neural network architectures taken from traditional machine learning tasks.

Neural networks with rational activation functions have been successful in previous application areas.

Contribution

Introduce novel rational activation functions for traditional “sigmoid” and “tanh” activation functions.

Propose new rational neural network structure to preserve convexity in optimisation problem when designing a controller with stability guarantees.

Analysis

Show the benefit of using rational activation functions to avoid use of highly non-linear activation functions.

Formulated convex method to find a stabilising controller using Sum of Squares optimisation. 

Results

Numerical examples demonstrate that this approach can successfully find stabilising rational neural network controllers.

Effectively provides controllers for systems with non-linear plants, noise and parametric uncertainty.

ADD FIGURES

Stability and Reachability of Neural Feedback Loops - Github, Paper Link

One sentence

Stability and reachability robustness indicators for systems with neural networks as controllers are improved by incorporating the neural networks’ non-linearities into the optimisation problem directly and by using better tests.

Motivation

Non-linearities in neural networks make them effective but consequently make analysis difficult.

Recent research has allowed neural networks to be designed as controllers in feedback systems, but only addresses linear systems.

Stability, region of attraction and reachability are key robustness indicators, especially for safety-critical applications.

Contribution

Abstract the neural network’s non-linear equations as a convex constraint set.

Use Sum of Squares programming framework to compute the stability and reachability of non-linear systems with neural network controllers directly. 

Exploit the sparsity of neural networks to reduce solve times using previous project on “Neural Network Verification by Exploiting Sparsity”.

Analysis

Create more accurate tests using “Positivstellensatz” and higher order Lyapunov functions to better capture dynamics of system.

Analyse systems in continuous time, where different methods rely on discretising system.

Evaluate non-linear systems directly with parametric uncertainty.

Results

Better stability guarantees are obtained as volume of the region of attraction is increased compared to other methods.

Tighter reachable sets are computed over competitve methods.

Neural Network Verification by Exploiting Sparsity - Github, Paper Link

One sentence

By utilising the natural cascading structure of the neural network, the time taken to verify a neural network can be drastically reduced, whilst also obtaining more accurate results.

Motivation

Neural networks are more widespread and obtain robustness guarantees for them are important, especially in safety-critical applications. 

A trained neural network's sensitivity to adversarial attacks is one of its greatest shortcomings.

Contribution

Neural network is written as a set of equality and inequality constraints from bounds on the non-linear activation functions.

Approaching the problem from a different perspective, use sparse polynomial optimisation theory and Positivstellensatz, a key result in real algebraic geometry.

Exploit the natural cascading structure of the neural network using ideas from chordal sparsity and semi-definite programming.

Analysis

The Positivstellensatz provides a trade-off between conservativeness and complexity within the optimisation problem

Scalability of the method is drastically improved as the constraint matrices are broken down into smaller constraint matrices.

Results

Numerical examples show that bounds can be tightened significantly, over state-of-the-art approaches

The computational time to solve the optimisation problem against similar approaches is improved

Compare the solve times of different solvers and show how accuracy can be improved at the expense of increased computation time.

Network Lyapunov Functions for Epidemic Models - Github, Paper Link???

ADMM for Control of Mixed Traffic Flow - Github, project link???

ADD POSTER
